.button-group {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 3%
}

.button-group button {
    width: 30%;
}


.activity-card {
    transition: transform 0.2s;
    position: relative;
    cursor: pointer;
}

.activity-card:hover {
    transform: translateY(-5px);
}

.activity-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.activity-card p {
    margin-bottom: 0.5rem;
}

.activity-card .text-muted {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/*
.delete-button {
    position: absolute;
    top: 10%;
    right: 1%;
}
*/

/*
.edit-button {
    position: absolute;
    top: 10%;
    right: 15%;
} */
 